html {
    font-size: 16px;
    box-sizing: border-box;
}



body {
    margin: 1rem;
    background-color:black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  button:hover {
    background-color: rgb(130, 30, 30);
  }

  
h2 {
    text-align:center;
    justify-content: center;
    display: flex;
}
.main-title {
    text-align:center;
    margin: 1rem;
    letter-spacing: 2px;
}
.hidden-image {
 display: none;
}

/* ****form styles **** */
.food-form {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
}

.input-label {
    padding: .25rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-input {
    padding: 0.5rem;
    font-size: 1.5rem;  
}

.search-button {
    padding: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
 
}

/* button styles */
.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
a {
    color:rgb(235, 79, 105);
}

/****** Meal result styles ****** */
.meal-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.meal-container {
    border: 5px inset rgb(182, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;  
    max-width: 75%;  
    margin: 0.5%;
    padding: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 250px;
}
.meal-thumbnail {
    height: 150px;
    border-radius: 3%;
    border: 4px ridge black;
}

/* *****Image styles****** */

.image-container {
   background-color:black;
   align-items: center;
   padding: 20px;
   display: flex;
   justify-content: center;
   height: 400px;
   overflow: hidden; 
   
}

@media screen and (max-width: 500px) {
    .image-container {
        height: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;        
        
        
    }
}
#footer {
    justify-content: left;
    align-items: left;
    margin-top:75px;
    padding: 75px;
    height: 50px;
}
.foot-div {
    height: 100px;
    
}
  
 @media screen and (max-width: 500px) {
     .meal-list-container {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-transform:uppercase;
        
        /* **** Responsive design******* */
    
     }
 }
@media screen and (max-width: 500px) {
      .meal-container {
          display: flex;
          flex-direction: column;
          overflow: hidden;
      }
  }

@media screen and (max-width: 600px) {
       .meal-container {
           display: flex;
           flex-direction: column;
           overflow: hidden;
           font-size: .8em;
           
       }
   }
@media screen and (max-width: 700px) {
        .food-form {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap:wrap;
            margin :3px;
    
    
            }
        }
@media screen and (max-width: 700px) {
    .input-label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 3px;
        font-size: 1em;


    }
}
@media screen and (max-width: 600px) {
    .hidden-image {
        display:flex;
        justify-content: center;
        align-items: center;
        
       
    }
}
@media screen and (max-width: 600px) {
    .image-container {
        display: none;
        margin: 5px;
        padding: 15px;
        height: 50px;

    }
}